/*
Original code by Gabriella M.; Modified and cpmleted by Arazoo Hoseyni */

/*BODY*/
body{
	width:100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.6; 
    font-weight: 300;
    background: #8ED2C9;
}
em { font-weight: bold; font-style: normal; }
span.info, span.infoEmail { padding-left: 10px; }
span.info { text-transform: capitalize; }
.successMSG { font-style: italic; color: #27ae60;}
 
h1 { 
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, Helvetica, Arial, sans-serif; 
    font-size: 2.5em;
    text-align: center;
	 position: relative; 
	 text-align: center;
	 background: #00AAA0;
     border-bottom: 1px solid #f0f0f0; 
     width: 100%; 
    } 
/* --------------------------------------------------------------
LAYOUT
-------------------------------------------------------------- */
.header { 
	position: relative; 
	text-align: center;
	background: #FCF4D9;
    border-bottom: 1px solid #f0f0f0; 
    width: 100%; 
    padding: 10px 0; 
    }
.btnRegister {
	padding: 10px 30px;
	background-color: #FCF4D9;
	border: 0;
	color: black;
	cursor: pointer;
    display: block;
	font-size: 0.9em;
	border-radius: 4px;
	margin-left: 10px;
}
footer {
    border-top: 1px solid #f0f0f0;
    margin: 2em auto;
    text-align: center;}
input#firstName, input#lastName {
	margin-right: 1em;
}
input#firstName, input#lastName, input#birthYear { float: left; }
div.name:after {
	content: "";
	display: inline-table;
	clear: both;
}

select#birthMonth { margin-left: 0; }

 #userLogin, #userPass {
	clear: both;
	width: 50%;
	color: #555;
	font-size: 0.85em;
	padding: 0.5em;
	margin-top: 0;
	margin-bottom: 0.5em;
	border: solid #edf1f1 thin;
 }
 
.error p {
	 color: #e74c3c;
	 font-size: normal;
	 font-size: 0.8em;
 }
.error p.fnError, .error p.lnError {
	 float: left;
	 width: 200px;
	 border: solid red thin;
	 margin-right: 1em;
	 margin-left: 0;
 }
.error p.lnError { margin-left: 5px; }
.error p.emailError, .error p.passError, .error p.loginError {
	 float: left;
	 width: 200px;
	 margin-top: 0;
	 margin-left: 1em;
 }
 .error p.yearError {
	 clear: both;
	 margin-left: 260px;
	 border: solid red thin;
 }
/*---------------------
DESKTOP
-----------------------------*/
@media all and (min-width: 960px) {
#wrapper { margin:0 width: 960px; }
div.clear {clear:both;}
input#birthYear{ width: 100px; }
select {
	width: 120px;
	float: left;
	color: #555;
	font-size: 0.85em;
	padding: 0.5em;
	margin-right: 1em;
	margin-left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-appearance: button;
	-webkit-border-radius: 1px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	 border: solid #edf1f1 thin;
	background: #fff url(http://i62.tinypic.com/15xvbd5.png) 90% center no-repeat;
 }

form {
	 width: 34%;
	 position: center;
	 margin: auto;
	 padding: 70px;
	 line-height: 1.5em;
	 border: #edf1f1 thin;
	 border-radius: 4px;
 }
 form input {
	 width: 60%;
	 float:center;
	 color: #555;
	 font-size: 0.85em;
	 padding: 10px;
	 margin-top: 10;
	 margin-bottom: 0.5em;
	 border: solid #edf1f1 thin;
	 border-radius: 4px;
 }
}
/*---------------------
TABLET
-----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/* WRAPPERS */
#wrapper { margin:0 width: 768px; }

div.clear {clear:both;}
input#birthYear{ width: 100px; }
select {
	width: 120px;
	float: left;
	color: #555;
	font-size: 0.85em;
	padding: 0.5em;
	margin-right: 1em;
	margin-left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-appearance: button;
	-webkit-border-radius: 1px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	 border: solid #edf1f1 thin;
	background: #fff url(http://i62.tinypic.com/15xvbd5.png) 90% center no-repeat;
 }
form {
	 width: 50%;
	 position: relative;
	 margin: 0 auto;
	 padding: 0.8em;
	 line-height: 1.5em;
	 border: #edf1f1 thin;
	 border-radius: 4px;
 }
 form input {
	 width: 40%;
	 float:center;
	 color: #555;
	 font-size: 0.85em;
	 padding: 0.5em;
	 margin-top: 0;
	 margin-bottom: 0.5em;
	 border: solid #edf1f1 thin;
	 border-radius: 4px;
 }
}
/*---------------------
PHONE
-----------------------------*/
@media all and (min-width: 320px) and (max-width: 767px) {
/* WRAPPERS */
#wrapper { margin:0 width: 320px; }
div.clear {clear:both;}
input#birthYear{ width: 100px; }
select {
	width: 105px;
	float: left;
	color: #555;
	font-size: 0.85em;
	padding: 0.5em;
	margin-right: 1em;
	margin-left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-appearance: button;
	-webkit-border-radius: 1px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	 border: solid #edf1f1 thin;
	background: #fff url(http://i62.tinypic.com/15xvbd5.png) 90% center no-repeat;
 }
form {
	 width: 70%;
	 position: relative;
	 margin: 0 auto;
	 padding: 0.8em;
	 line-height: 1.5em;
	 border: #edf1f1 thin;
	 border-radius: 4px;
 }
 form input {
	 width: 50%;
	 float:center;
	 color: #555;
	 font-size: 0.85em;
	 padding: 0.5em;
	 margin-top: 0;
	 margin-bottom: 0.5em;
	 border: solid #edf1f1 thin;
	 border-radius: 4px;
 }
}